*{margin: 0; padding: 0; font-family: 'Courier New', Courier, monospace; font-size: 102%;}

body{
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(to left, rgb(60, 63, 127), rgb(39, 105, 120));
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

#btn-menu{
    display: none;
    margin: 25px;
}

header .boton-menu{
    width: 100%;
    height: 40px;
    padding: 10px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: linear-gradient(to left, rgba(60, 63, 127, 0.95), rgba(39, 105, 120, 0.95));
    border-bottom: solid 1px white;
}

header label{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    rotate: 180deg;
    border-right: solid 1px white;
    z-index: 100;
}

header label:hover{
    cursor: pointer;
    background: rgba(136, 136, 136, 0.3);
}

header{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 20px;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
    overflow: hidden;
    padding-left: 10px;
}

.foto-perfil{
    width: 30%;
    min-width: 200px;
    max-width: 350px;
}

header nav{
    display: block;
    position: fixed;
    top: 0%;
    width: 100%;
    max-width: 1280px;
    margin-top: 12px;
    z-index: 100;
}

header nav ul{
    text-align: center;
}

nav ul li{
    letter-spacing: 2px;
    list-style: none;
    display: inline;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid white;
    border-left: solid white;
    border-right: solid white;
    background: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}

nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: rgb(255, 255, 255);
}

nav ul li:hover{
    color: black;
    background: rgb(136, 136, 136);
    transition: all 0.5s linear;
    text-decoration-color: black;
}

nav ul li a:hover{
    color: black;
    transition: all 0.5s linear;
}

.encabezado h1{
    font-family: 'Courier New', Courier, monospace;
}

header .encabezado{
    width: 60%;
}

header .encabezado h1{
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 40px;
}

header .encabezado h2, header .encabezado h3{
    font-family: 'Courier New', Courier, monospace;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
}

header .encabezado p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding-top: 10px;
    text-align: justify;
}

header .encabezado strong{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

main{
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    color: rgb(255, 255, 255);
}

main h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    font-size: 40px;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

#contacto, #experiencia, #educacion, #idiomas, #aptitudes{
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: solid 0.5px rgb(136, 136, 136);
    width: 100%;
}

main p{
    padding: 10px;
    text-align: justify;
}

main a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.empresa h3, .empresa ul{
    padding: 10px;
}

.empresa h4{
    margin-top: 30px;
}

#contacto img{
    width: 35px;
    height: 35px;
    text-align: justify;
    margin-right: 20px;
}

#contacto .cont-contacto{
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#contacto .cont-contacto h4{
    text-align: justify;
}

#educacion{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#educacion h1{
    width: 100%;
}

.educacion-1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.educacion-1 img{
    width: 90px;
    padding: 15px;
}

.educacion-1 h3, .educacion-1 h4, .educacion-1 p{
    width: 100%;
    padding: 10px;
}

.empresa{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.empresa h3, .empresa h4, .empresa img, .empresa p, .empresa ul, .empresa ul li{
    width: 100%;
    text-decoration: none;
    list-style: circle;
}

.empresa ul{
    margin-left: 15px;
}

#idiomas h3{
    text-align: justify;
}

#experiencia .empresa img{
    width: 250px;
    padding: 10px;
}

footer{
    width: 100%;
    text-align: right;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 20px;
}

footer img{
    width: 30px;
    padding-left: 10px;
}

footer img:hover{
    scale: 1.2;
    transition: all 0.5s;
}

#parpadea{
    animation-name: parpadeo;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes parpadeo {  
    0% {opacity: 1.0;}
    50% {opacity: 0.0;}
    100% {opacity: 1.0;}
}

@media (max-width: 1200px){

    .foto-perfil{
        border: solid 3px rgb(0, 0, 0);
        border-radius: 15px;
        overflow: hidden;
        background: rgba(0, 0, 0, 0.1);
        margin: 15px;
        margin-right: 20px;
    }

    header{
        justify-content: space-between;
        margin-right: 15px;
        padding-bottom: 10px;
    }
}

@media (max-width: 880px){

    main h1, header h1{
        text-align: center;
    }

    .foto-perfil{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    header .encabezado{
        width: 100%;
        margin-left: 10px;
    }

    header{
        box-shadow: none;
        border-bottom: solid 0.5px rgb(136, 136, 136);
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        padding-left: 0;
    }

    #experiencia .empresa{
        justify-content: center;
    }

    .educacion-1{
        justify-content: center;
        text-align: center;
    }

    header .boton-menu{
        display: block;
        z-index: 100;
    }

    header label{
        display: block;
    }

    nav ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-width: 300px;
        height: 30px;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
        border-left: solid 1px white;
        border-right: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
    }

    .menu{
        display: flex;
        top: -480px;
        width: 100%;
        justify-content: flex-end;
    }

    #btn-menu:checked ~ .menu{
        top: 48px;
        transition: all 0.2s;
        z-index: 80;
    }
}

/* .boton-menu h3{
    color: black;
    text-align: right;

    margin-right: 60px;
    font-size: 25px;

} */
